django-nose
coverage
coveralls
django-jasmine
flake8
fabric
factory_boy
mock
selenium

django-author
pillow
django-finegrained-permissions
psycopg2
-e git+https://github.com/PetrDlouhy/django-import-export#egg=django-import-export  # for Django 2.0 fixes
django-colorful
django-constance[database]
-e git+https://github.com/PetrDlouhy/django-admin-sortable2@feature/django20#egg=django-admin-sortable2  # for Django 2.0 fixes
djangorestframework
django-positions
django-filter
easy_thumbnails
django_gpxpy
django-leaflet
django-admin-smoke-tests
