Django<1.8
django-nose
coverage<4.0
django-coverage
django-jasmine
ipdb
flake8
fabric
factory_boy
mock
selenium

django-author>=0.2
south
pillow
django-finegrained-permissions
psycopg2
django-import-export
django-colorful
django-constance[database]
django-admin-sortable2
djangorestframework
django-positions
django-filter
easy_thumbnails
gpxpy
