{% load thumbnail static %}
<div>
<div class="trc" id="poi_id_{{ poi.id }}">
   <h4>{{ poi }}</h4>
</div>

<div class="rc txt">

{% if poi.desc %}
    <p>{{ poi.desc|safe }}</p>
{% else %}
    <p>{{ poi.marker }}</p>
{% endif %}
{% if poi.desc_extra %}
    <p>{{ poi.desc_extra|safe }}</p>
{% endif %}
{% if poi.address %}
    <p>Adresa: {{ poi.address|safe }}</p>
{% endif %}

{% if poi.url %}
    <p><a target="_blank" href="{{ poi.url|escape }}" title="{{ poi.url|escape }}">{{ poi.url|escape|truncatewords:4 }}</a></p>
{% endif %}

{% if fotky %}
  {% for fotka in fotky %}
    {% thumbnail fotka.photo "300x0" as foto_thumb %}
    {{ fotka }}
    <a href="{{ fotka.photo.url }}" title="{{ fotka }}" data-lightbox="poi-image" data-title="{{ fotka }}">
    <img src="{{ foto_thumb.url }}" title="{{ fotka }}" width="{{ foto_thumb.width }}" height="{{ foto_thumb.height }}" class="foto_thumb"/></a>
  {% endfor %}
{% endif %}

</div>
</div>
